name: validate

on:
  push:
    branches:
      - develop
      - "hotfix*"

  pull_request:
    branches:
      - develop
      - "hotfix*"
    types:
      - edited
      - opened
      - ready_for_review
      - reopened
      - synchronize

  workflow_call:

  workflow_dispatch:

jobs:
  audit:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: checkout origin repo
        uses: actions/checkout@v6.0.1

      - name: setup rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: cache rust
        uses: Swatinem/rust-cache@v2.8.2

      - name: install cargo-audit
        run: cargo install cargo-audit --locked

      - name: check audit
        run: cargo audit --deny warnings

  format:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: checkout origin repo
        uses: actions/checkout@v6.0.1

      - name: setup rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt

      - name: cache rust
        uses: Swatinem/rust-cache@v2.8.2

      - name: check format
        run: cargo fmt --check

  docs-deps-test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: checkout origin repo
        uses: actions/checkout@v6.0.1
        with:
          submodules: recursive

      - name: install protoc
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler

      - name: setup rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly

      - name: cache rust
        uses: Swatinem/rust-cache@v2.8.2

      - name: check docs
        run: cargo +nightly doc --no-deps

      - name: install cargo-udeps
        run: cargo install cargo-udeps --locked

      - name: check dependencies
        run: cargo +nightly udeps --locked --all-targets
      - name: run tests
        run: cargo test -- --test-threads=1
